---
layout: intro
---
<div class="wrapper col3">
  <div id="intro">
    <div id="intronav">
      <ul>
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url or page.layout == link.layout %}
          {% assign current = 'active' %}
        {% endif %}
        {% assign base = nil %}
        {% if !link.url.start_with?("http") %}
          {% assign base = site.baseurl + "/" %}
        {% endif %}
          <li class="{{ current }}"><a href="{{ base }}{{ link.url }}">{{ link.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <h1>Colossus</h1>
    <h2>Service I/O Framework</h2>
    <br class="clear" />

      <p>
      Colossus is a lightweight framework for building high-performance network
      I/O applications in Scala.  In particular Colossus is focused on
      low-latency <em>microservices</em>, single-feature stateless applications
      with a RESTful API.  Colossus aims to maximize performance while keeping
      the interface clean and concise.
      </p>

    <br class="clear" />
    <div id="subintro">
      {% include index_content.md %}
    </div>

    <div id="features">
      <div class = "feature">
        <h3>Clean Event-based Programming</h3>
        <p>
          Built directly on NIO, Colossus is a modern take on event-based
          programming that fully leverages the functional and object-oriented
          features of Scala.  Write powerful applications with minimal
          boilerplate.
        </p>
      </div>
      <div class="feature">
        <h3>Seamless Integration with Akka</h3>
        <p>
          Written entirely as Akka actors, Colossus makes it easy to connect
          your low-level event-handling code with external actors.
        </p>
      </div>
      <br class="clear" />
      <div class="feature">
        <h3>Real-time Metrics</h3>
        <p>
          Colossus comes with a metrics aggregation and reporting system that
          makes it easy to track events in real-time.  Common metrics like
          request rates and latency are built into services out of the box, and
          it's easy to add your own.
        </p>
      </div>
      <div class="feature">
        <h3>Write More than Just Services</h3>
        <p>
          While Colossus has primarily been built with microservices in mind,
          at the heart is a fully generalized IO layer suitable for building
          any custom server or client.        
        </p>
      </div>
    </div>
    <br class="clear" />
    <div id="moar">
      <ul id="moar">
        <li> <a href="{{ site.baseurl }}/docs/quickstart">Quickstart Guide</a>
        <li> <a href="{{ site.baseurl }}/docs">Full Documentation</a>
        <li> <a href="{{ site.github_examples_url }}">Examples Project</a>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="section">
      <h2> Built at Tumblr</h2>
      <p>
        Colossus was built to address many of the challenges we've faced at
        Tumblr when writing Scala services.  It has greatly simplified the
        development process, allowing engineers to rapidly build services that
        are production-ready with minimal effort.  Colossus is currently used
        in several production systems throughout Tumblr's infrastructure.
      </p>
      <p>
        <strong>We need your help!.</strong>  Colossus is still in the early
        stages of development and while we've met many of the goals we set out
        to achieve, there's still much to be done.  Features need to be
        implemented, bugs needs to be fixed, optimizations need to be
        optimized.  If you find a bug or have a cool idea, let us know and get
        involved!
      </p>
    </div>
  </div>
</div>
