<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="{{site.baseurl}}/">Colossus</a></h1>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="{{ site.baseurl}}/about">About</a></li>
        <li><a href="{{ site.baseurl}}/">Community</a></li>
        <li><a href="{{ site.baseurl}}/docs">Documentation</a></li>
        <li><a href="{{ site.github_repo_url }}">Github</a></li>
      </ul>
    </div>
    <br class="clear" />
  <p class="breaking-news"><b>Notice</b>: These docs are a work in progress.  If you see an error, <a href="{{ site.github_repo_url }}/tree/gh-pages-source">fix it</a>!</p>
  </div>
</div>

